<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SignUp</display-name>
  <welcome-file-list>
    <welcome-file>/HomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>prelogin</servlet-name>
    <servlet-class>com.capgemini.controller.PreLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prelogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>com.capgemini.controller.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/loginsuccessfull</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>postlogin</servlet-name>
    <servlet-class>com.capgemini.controller.PostLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postlogin</servlet-name>
    <url-pattern>/loginsuccessfull</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>unsuccess</servlet-name>
    <servlet-class>com.capgemini.controller.ReLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>unsuccess</servlet-name>
    <url-pattern>/relogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>presignup</servlet-name>
    <servlet-class>com.capgemini.controller.PreSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>presignup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>signupfilter</filter-name>
    <filter-class>com.capgemini.controller.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>signupfilter</filter-name>
    <url-pattern>/signup-successful</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.capgemini.controller.PostSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup-successful</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signupunsuccess</servlet-name>
    <servlet-class>com.capgemini.controller.ResignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupunsuccess</servlet-name>
    <url-pattern>/resignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.capgemini.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>preforgot</servlet-name>
    <servlet-class>com.capgemini.controller.PreForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>preforgot</servlet-name>
    <url-pattern>/forget-password</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>forgetpassword</filter-name>
  <filter-class>com.capgemini.controller.ForgetPasswordFilter</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>forgetpassword</filter-name>
   <url-pattern>/recover-password</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>postforgot</servlet-name>
    <servlet-class>com.capgemini.controller.PostForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postforgot</servlet-name>
    <url-pattern>/recover-password</url-pattern>
  </servlet-mapping>
</web-app>